.container {
    height: 20rem;
    width: 80%;
    margin: auto;
    background-color: red;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.block {
    background-color: blue;
    height: 20%;
    width: 30%;


}

.block:hover {
    transform: scale(1.5, 1.5);
}