
.bubble {
  background-color: white;
  // background-size: 1076px 1076px;
  border-radius: 50%;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.1);
  height: 10vw;
  width: 10vw;
  margin-left: -2vw; //shift left all a bit so do not have to manually edit their specific positions
  // margin-right: 20px;
  position: absolute;
  //so pops in when page loads (?)
  transition: opacity ease-in-out 1s;
  
  z-index: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  
}

.bubble:hover {
    background-color: rgb(243, 243, 243);
    height: 11vw; //scale up a bit
    width: 11vw;
    margin-top: -2vh; //move up
}

.hitbox {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  background-color: transparent;
  z-index: 1;
  position: fixed;
}

.hitbox:hover {
  animation: appear 0.5s ease-out;
  animation-fill-mode: both;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

//for text inside the circular bubble
.bbl_txt {
  text-align: center;
  font-size: 1.8vw;
  width: 100%;
  border-radius: 50%; 
  
}

//for the text bubble itself
.text_bubble {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;

}

//for the text in the text bubble
.des {
  font-size: 1.8vw;
  width: 85%;
  max-height: 130%;
  position: absolute;
  left: 1.6vw;
  top: 5vmin;
  z-index: 5;
}


//wrapper class for text bubble
.popup {
  position: relative;
  transform: translate(8vw, 6vw);
  pointer-events: none;
  width: 15vw;
  // height: 15vw; //is set by bubble_pos.jsx for each bubble

  opacity: 1;
  z-index: 3; 
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubbles {
  height: 80vh;
  position: relative;
  margin-bottom: 1vw;
}

.bubbles-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

@media screen and (max-width: 700px) {
  .bubbles {
    height: 65vh;
  }
  .bubble {
    height: 12vw;
    width: 12vw;
    margin-left: -3.5vw; //offset not having as much room on right as usual
  }
  .bubble:hover {
    margin-top: -5px;
    width: 12.5vw;
    height: 12.5vw;
  }
  .des {
    top: 3vmin;
  }
}