.headers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 7vw;
    min-height: 50vh;
    width: 80%;
    margin: 10% 0% 0% 4%; 

}

.header_school_R {
    animation: move_anim 1s linear infinite; //infinite allows it to potentially be run forever
    animation-play-state: paused; //is paused without scroll
    animation-delay: calc(var(--curr_scroll) * -1.2s); //calculates based on scroll var times -2s 
    //more negative time = faster animation goes with scroll
    
    animation-iteration-count: 1; //number of animations possible with scrolling down
    animation-fill-mode: both; //to ensure changes occur asap and the end keyframe lasts after the animation

    transform: translateX(-50vw);
    opacity: 0;

    margin: 0%;  
 

}

@keyframes move_anim {
    62% {
        transform: translateX(0vw);
        opacity: 1;
    }
    78% {
        transform: translateX(0vw);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.header_school_L {
    animation: move_anim 1s linear infinite; //infinite allows it to potentially be run forever
    animation-play-state: paused; //is paused without scroll
    animation-delay: calc(var(--curr_scroll) * -1.3s); //calculates based on scroll var times -2s 
    //more negative time = faster animation goes with scroll
    
    animation-iteration-count: 1; //number of animations possible with scrolling down
    animation-fill-mode: both; //to ensure changes occur asap and the end keyframe lasts after the animation

    transform: translateX(50vw);
    opacity: 0;

    margin: 0% 0% 10% 0%;  
  
}

.logo_wrapper {

    position: absolute;

    animation: logo_anim 1s linear forwards;
    animation-play-state: paused; //is paused without scroll
    animation-delay: calc(var(--curr_scroll) * -1.2s);
    animation-iteration-count: 1; //number of animations possible with scrolling down

    margin-top: 25vh;
    margin-left: 48vw;

    padding: 0;

    opacity: 0;

    height: 18vw;
    width: 20vw;

}

.logo {
    border-radius: 50%;

}

@keyframes logo_anim {
    0% {
        transform: translate(-20vw, 40vh) rotate(-90deg);
    }
    16% {
        opacity: 0.8;
        transform: rotate(0deg);
    }
    25% {
        opacity: 1;
        transform: rotate(0deg);
    }
    70% {
        opacity: 1;
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(210deg);
        opacity: 0.2;
    }
    100% {
        opacity: 0;
        transform: rotate(310deg);
        
    }
}

.hitbox {
    background-color: red;
    margin: 0 auto;
    height: 0vw;
    width: 0vw;
}
