.first_name {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18rem;
    width: 45%;
    margin: 2% auto;
}

.name_base {
    line-height: 80%;
    margin: 0%;
    width: 0%;
    opacity: 0;
}

@for $i from 1 through 5 {
    .name_#{$i} {
        line-height: 80%;
        margin: 0%;
        width: 0%;
        overflow: hidden;
        animation: name_animation 1s ease-out forwards;
        animation-delay: 0.4 + $i * 0.4s;
        transition: all .35s ease-in-out
    }
}

@keyframes name_animation {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
        color: white;
        width: 100%;
    }
    100% {
        opacity: 1;
        color: white;
        transform: rotateY(-360deg);
        width: 100%;
        overflow: visible;
    }
}

